<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>Noticias</title>
    </head>
    
    <body>
        
         <h2>Noticias</h2>
    
        <table>
            <thead>
                <tr>
                    <th>IDD</th>
                    <th>Titulo</th>
                    <th>Descricao</th>
                </tr>
            </thead>
            
            <tbody>
                
                    <% for(i=0;i<noticias.length;i++){ %>
                    <tr>
                        <td><%= noticias[i].id_noticia %></td>
                        <td><%= noticias[i].titulo %></td>
                        <td><%= noticias[i].noticia %></td>
                    </tr>
                    
                    <%  } %>
            </body>
            
        </table>
    
    </body>

</html>
